<?xml version="1.0" ?>
<model>
  <name>DiffDrive_AMR</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>RDT Generator</name>
    <email>meharban@rdt.dev</email>
  </author>
  <description>DiffDrive_AMR (500.0kg payload, differential_drive drive) — generic</description>
</model>
