<?xml version="1.0" ?>
<model>
  <name>Addverb_Veloce</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>RDT Generator</name>
    <email>meharban@rdt.dev</email>
  </author>
  <description>Addverb_Veloce (240.0kg payload, unidirectional drive) — addverb</description>
</model>
